<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695899982339-j77rro8r1jo43d4la7dsc8a3lhrpnpst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695899982339-j77rro8r1jo43d4la7dsc8a3lhrpnpst</string>
	<key>API_KEY</key>
	<string>AIzaSyDTd4lfQN6YiWErOY9x8o7yUeTO4Z7GC94</string>
	<key>GCM_SENDER_ID</key>
	<string>695899982339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fallAppGuncel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fallapp-b4b00</string>
	<key>STORAGE_BUCKET</key>
	<string>fallapp-b4b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695899982339:ios:e4d0915b6fcb8e53455c36</string>
</dict>
</plist>